# macOS Finder turds
**/.DS_Store

# Emacs turds
**/*.*~

# JetBrains IntelliJ IDEA
# These files change too much to check in:
aavso-timeseries-py/.idea/workspace.xml
aavso-timeseries-py/.idea/misc.xml
# Also doesn't look like it should be checked in:
aavso-timeseries-py/.idea/dataSources.local.xml
